*
{
    margin: 0;
    padding: 0;
}

a
{
    text-decoration: none;
}

button
{
    border: none;
    color: #fff;
    padding: 15px 28px;
    background: #4caf50;
    border-radius: 4px;
}

p
{
    line-height: 1.8;
}

body
{
    font-family: 'Open Sans', sans-serif;
}

.container
{
    background: url(../images/business-2.jpg) no-repeat top center /100%;
    height: 898px;
    text-align: center;
}

.nav
{
    background:rgba(0,0,0,0.7)
}
.nav li
{
    display: inline-block;
    padding: 15px 20px;
}

.nav li.first
{
    border-top:2px solid #4caf50
}

.nav li a
{
    color: #fff;
}

.main
{
    padding: 257px 8% 314px;
    background:rgba(0,0,0,0.7);
    color:#fff;
}

.main p
{
    font-size: 20px;
    margin: 0 0 32px;
}

.main h1
{
    font-size: 50px;
    font-weight: 100;
    margin-bottom: 25px;
}

.main button
{
    font-weight: 600;
}

.features 
{
    padding:100px 54px;
}

.features .item
{
    width:32%;
    display:inline-block;
}

.features .item h4
{
    display:inline-block;
    top: -15px;
    position: relative;
    font-weight: 100;
    color: #303030;
}

.features .item p
{
    padding: 0 35px 0 58px;
    color:#888;
    font-size:16px;
}

.services
{
    text-align:center;
    padding: 80px 54px 70px;
    background: #f8f8f8;
}

.services .title
{
    text-align:center;
}

.services .title h2
{
    font-size: 36px;
    font-weight: 100;
}

.services .title p
{
    margin: 17px 0;
    color: #888;
    font-size:20px;
}

.services .item
{
    width:30%;
    margin: 20px 10px;
    display:inline-block;
    text-align:left;
    background:#fff;
}

.services .item img
{
    width:100%;
}

.services .item .caption
{
    padding:22px;
}

.services .item .caption h4
{
    color:#303030;
    font-size:19px;
    font-weight: 100;
}

.services .item .caption p
{
    color:#888;
    margin:10px 0;
}

.services .item .caption a
{
    color:#888;
}

/*************
    Moomen
*************/
.services-sction{
    
   
    background-color: #f1f1f1;

}
.section-title{
    position: relative;
}
.section-title h2{
    font-size: 35px; 
}
.section-title:after{
    content: "";
    background-color: #ff305b;
    width: 160px;
    height: 1px;
    position: absolute;
    top: 130%;
    left: 43%;  
}
.container-services{
    width: 80%;
    margin: 0px auto;
    text-align: center; 
}
.container-card{
    width: 100%;
    margin: auto;
}

.single-service{
    margin-top: 50px;
    float: left;
    width: 25%;

}
.single-service-inner{
    padding: 30px;
    
}
.single-service:hover .single-service-inner{
    transform: scale(1.05,1.05);
    box-shadow: 0px 2px 20px #aaa;
    background-color: #fff;
    transition: 0.5s;
    font-size: 45px;
}

.single-service-inner i{
    font-size: 35px;
    padding-bottom: 30px;
    color: #ff305b;
}
.single-service-inner h3{
    font-size: 23px;
    padding-bottom: 15px;
}
.single-service-inner p{
    font-size: 15px;
    line-height: 25px;
}

@media  (max-width: 1400px) and (min-width: 1100px)
{
    .container-services{
    
    width: 90%;
}

.single-service{
    margin-top: 50px;
    width: 25%;
}
    .container-card{
    width: 100%;
    margin: auto;
}
.single-service-inner{
    padding: 15px;
}
.single-service-inner i{
    font-size: 25px;
    padding-bottom: 20px;
}
.single-service-inner h3{
    font-size: 18px;
    padding-bottom: 10px;
}  
}
@media  (max-width: 1100px) and (min-width: 850px)
{
    .container-services{
        width: 80%;
}
    .single-service{
    margin-top: 50px;
    float: left;
    width: 50%;
    }
}
@media (max-width: 850px)
{
     .container-services{
        width: 60%;
}
    .single-service{
    margin-top: 50px;
    float: none;
    width: 100%;
    }  
}
