* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto",sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    margin: 0 0 10px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #333;
}

button {
    border: none;
    background: #ff305b;
    border-radius: 4px;
    color: #ffffff;
    margin-right: 10px;
    padding: 10px 24px;
    transition:all 0.5s ease-in-out;
    font-size: 17px;
}

a {
    text-decoration: none;
}

.home {
    background: url(images/slider-01.jpg) no-repeat center / 100% 100%;
    height: 800px;
}

.home .nav {
    padding: 0 100px;
    overflow:auto;
    background: rgba(0,0,0,0.8)
}

a.logo {
    color: #ff305b;
    display: block;
    font-size: 24px;
    font-weight: 800;
    padding: 18px 0;
    float:left;
}

.home .nav ul {
    float: right;
}

.home .nav li {
    display: inline-block;
    padding: 25px 10px;
}

.home .nav li a {
    color: #fff
}

.home .main {
    padding: 200px 0 324px;
    text-align:center;
    color:#fff;
    background:rgba(0,0,0,0.8);
}

.home .main h4 {
    font-size: 24px;
    letter-spacing: 2px;
    color: #fff;
}

.home .main h1 {
    color: #ff305b;
    font-size: 70px;
    font-weight: 900;
    text-transform: uppercase;
}

.home .main p {
    font-size: 26px;
    text-transform: capitalize;
    color: #fff;
}

